name: build
on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "main"
jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup .NET 8
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Setup .NET 6.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - name: Build
        run: |
          cd src
          dotnet build
      - name: Test
        if: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}
        env:
          GODADDY_API_SECRET: ${{ secrets.GODADDY_API_SECRET }}
          GODADDY_ACCESS_KEY: ${{ secrets.GODADDY_ACCESS_KEY }}
        run: |
          cd src
          dotnet test --no-build --verbosity normal